:root {
    --brand-color: #7477ff;
    --dark-color: #0f172a;
    --mid-color: #1e293b;
    --light-color: #ffffff;
    --green-color: #3cb35a;
    --danger-color: #f66b6b;
    --yellow-color: rgb(249, 231, 65);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Buttons */

.btn-brand:hover {
    background-color: var(--brand-color);
    color: var(--light-color);
}

.btn-brand:focus {
    background-color: var(--brand-color);
    color: var(--light-color);
}

.btn-brand {
    font-weight: bold;
    background-color: var(--brand-color);
    color: var(--light-color);
}

.btn-danger {
    background-color: var(--danger-color) !important;
    color: var(--light-color) !important;
    border: none !important;
    font-weight: bold;
}

.btn-mid {
    background-color: var(--mid-color);
    color: var(--light-color);
    border: none;
    font-weight: bold;
}

.btn-mid:hover {
    background-color: var(--brand-color);
    color: var(--light-color);
}

.btn-mid:focus {
    background-color: var(--mid-color);
    color: var(--light-color);
}

.deleteclass button {
    background: none;
    border: none;
    color: white;
}
