<form class="mb-4 container" action="/messages/new" method="post">
    <hr size="10" />

    <input type="hidden" name="tid" value="<%= thread._id %>" />
    <div class="form-group mb-2">
        <input
            type="text"
            class="form-control mb-2"
            name="content"
            id="messageTextArea"
            rows="3"
            style="width: 100%; height: 70%; resize: none"
            required
            placeholder="Skriv en besked som <%= user.name %>..."
        />
        <button type="submit" id="messageSubmit" class="btn btn-mid">
            <i class="fa-solid fa-share"></i>
        </button>
    </div>
</form>
